data/xsd/patient.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Schema XML pour la fiche patient générée par patient_xml.xsl -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Element racine: patient -->
    <xs:element name="patient" type="PatientType"/>

    <!-- Type Patient -->
    <xs:complexType name="PatientType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prénom" type="xs:string"/>
            <xs:element name="naissance" type="xs:date"/>
            <xs:element name="numéroSS" type="NumeroSecuType"/>
            <xs:element name="adresse" type="AdresseType"/>
            <xs:element name="visite" type="VisiteType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Type Adresse -->
    <xs:complexType name="AdresseType">
        <xs:sequence>
            <xs:element name="rue" type="xs:string" minOccurs="0"/>
            <xs:element name="codePostal" type="CodePostalType" minOccurs="0"/>
            <xs:element name="ville" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Type Visite -->
    <xs:complexType name="VisiteType">
        <xs:sequence>
            <xs:element name="intervenant" type="IntervenantType"/>
            <xs:element name="acte" type="ActeType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="date" type="xs:date" use="required"/>
    </xs:complexType>

    <!-- Type Intervenant -->
    <xs:complexType name="IntervenantType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prénom" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Type Acte: attribut coef + libellé en contenu -->
    <xs:complexType name="ActeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="coef" type="xs:decimal" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- N° de sécurité sociale (15 chiffres) -->
    <xs:simpleType name="NumeroSecuType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-2][0-9]{2}(0[1-9]|1[0-2])[0-9]{2}[0-9]{3}[0-9]{3}[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Code postal (5 chiffres) -->
    <xs:simpleType name="CodePostalType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
